*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  width: 64px;
}
.grid-2 {
  width: 128px;
}
.grid-3 {
  width: 192px;
}
.grid-4 {
  width: 256px;
}
.grid-5 {
  width: 320px;
}
.grid-6 {
  width: 384px;
}
.grid-7 {
  width: 448px;
}
.grid-8 {
  width: 512px;
}
.grid-9 {
  width: 576px;
}
.grid-10 {
  width: 640px;
}
.grid-11 {
  width: 704px;
}
.grid-12 {
  width: 768px;
}
.grid-13 {
  width: 832px;
}
.grid-14 {
  width: 896px;
}
.grid-15 {
  width: 960px;
}
.grid-16 {
  width: 1024px;
}
.grid-1-3 {
  width: 384px;
}
